@import url("https://fonts.googleapis.com/icon?family=Material+Icons&family=Inter:wght@500;600;700;800;900");
@import "variables";
@import "modules";
body,html{
  background: black;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  height: 0px;
}