@import "../src/style/global";

.textBlock{
  padding: 30px 35px;
  box-sizing:border-box;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.title{
  @include title;
}
.content{
 @include content;
  box-sizing: content-box;
  & * {
    margin: 0;
  }
  //flex: 1 1 auto;
  & p{
    margin: 0;
    padding: 0px;
  }
  & ul{
    margin: 0;
    padding: 0;
    list-style: none;
    & li{
      margin: 0px;
      margin: 0;
      padding: 0;
    }
  }
}