
div{
  font-family: "Roboto", sans-serif;
}

.text{
  &--large{
    font-size: 5px
  }
  &--normal {
    font-size: 30px;
  }
  &--semibold{
    font-family: "Roboto Semibold", sans-serif;
  }
}

@mixin title{
  white-space: pre-line;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;

  padding-bottom: 20px;
}
@mixin content{
  white-space: pre-line;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
}

@mixin small-content{
  @include content;
  font-size: 40px;
}

.title-text{
    @include title;
}
.content-text{
    @include content;
}
.small-content-text{
    @include small-content;
}